.header {
  text-align: center;
  &__logo-bar {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  &__logo {
    animation: header-logo-spin infinite 20s linear;
    height: 80px;
  }
  &__title {
    font-size: 1.5rem;
  }
  &__intro {
    font-size: large;
  }
}


// Keyframes

@keyframes header-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}